<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="http://or13on0ca.bkt.clouddn.com/favicon.ico" type="image/x-icon" />
  <title>Yyeo</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>
